<section class="education">
    <div class="cotainer">
        <div class="col-md-6 text-center">
            <p class="text-center" id="title">Títulos 
                <button
                 type="button"
                 class="btn btn-dark"
                 routerLink="/nueva-exp"
                 *ngIf="isLogged"
                ><i class="fa-solid fa-plus"></i></button><!--edicion <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                    style="margin-left:20px" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M30 15C30 16.2757 28.9666 17.3084 27.6923 17.3084H17.3077V27.693C17.3077 28.9688 16.2743 30 15 30C13.7257 30 12.6923 28.9688 12.6923 27.693V17.3084H2.30769C1.03341 17.3084 0 16.2757 0 15C0 13.7243 1.03341 12.693 2.30769 12.693H12.6923V2.30841C12.6923 1.03269 13.7257 0 15 0C16.2743 0 17.3077 1.03269 17.3077 2.30841V12.693H27.6923C28.9687 12.6923 30 13.7236 30 15Z"
                        fill="black" />
                </svg>--> </p>
        </div>
        
        <div class="container" *ngFor ="let experiencia of experiencias">
            <div class="row text-center">

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img [src]="experiencia.imgExp" class="card-fluid" alt=""/>
                        <div class="card-body">
                          <h5 class="card-title">{{experiencia.nombreExperiencia}}</h5>
                          <p class="card-text"><b>${{experiencia.endExp}}</b></p>
                        </div>
                        <ul class="list-group list-group-light list-group-small">
                          <li class="list-group-item px-4">Autor: {{experiencia.descripcionExperiencia}}</li>
                          <li class="list-group-item px-4">Ediciones {{experiencia.compania}}</li>
                          <li class="list-group-item px-4">Páginas: {{experiencia.startExp}}</li>
                        </ul>
                        <div class="card-body">
                          <a href="https://wa.me/+5492616297836?text=¡Hola!+estoy+en+tu+sitio+y+quiero+pedir+más+información" target="_blank" class="card-link">
                            <img src="./img/whats.svg" class="what">
                          </a>
                          <div class="iconos-edicion">
                            <i class="fa-solid fa-pen" routerLink="/editar-exp/{{experiencia.id}}"*ngIf="isLogged" ></i>
                            
                            <i class="fa-solid fa-eraser" (click)="delete(experiencia.id)"*ngIf="isLogged"></i>
                          </div>
                          
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>



